@font-face {
	font-family: "TT Lakes Regular";
	font-style: normal;
	font-weight: normal;
	src: local("TT Lakes Regular"),
	    url("../fonts/TTLakes-Regular.eot"),
	    url("../fonts/TTLakes-Regular.woff") format("woff");
}
@font-face {
	font-family: "TT Lakes Medium";
	font-style: normal;
	font-weight: 500;
	src: local("TT Lakes Medium"),
	    url("../fonts/TTLakes-Medium.eot"),
	    url("../fonts/TTLakes-Medium.woff") format("woff");
}
@font-face {
	font-family: "TT Lakes Bold";
	font-style: normal;
	font-weight: bold;
	src: local("TT Lakes Bold"),
	    url("../fonts/TTLakes-Bold.eot"),
	    url("../fonts/TTLakes-Bold.woff") format("woff");
}